<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    <link rel="stylesheet" type="text/css" href="dist/semantic.min.css">
  </head>
  <body>

    <div class="ui grid tablet computer only">
      <nav class="ui grid fixed inverted menu tablet computer only">
        <div class="ui container">
          <a href="" class="header item ">
            <img src="img/small_logo.png" alt="logo" class="logo" style="width:50px; height:50px;">
          </a>
          <a href="profile.html" class="item">
            <i class="user icon"></i>
            Profile
          </a>
          <a href="search.html" class="item">
            <i class="search icon"></i>
            Search
          </a>
          <a href="setting.html" class="item">
            <i class="setting icon"></i>
            Setting
          </a>
          <a href="" onclick="sign_out()" class="item right floated">
            <i class="sign out icon"></i>
            Sign out
          </a>
        </div>
      </nav>
    </div>


    <div class="ui center aligned grid" style="
      margin-top: 200px;">
      <div class="twelve wide column">
      <div class="ui top attached tabular menu">
        <a class="active item" data-tab="users">Search Users</a>
        <a class="item" data-tab="groups">Search Groups</a>
      </div>
      <div class="ui bottom attached active tab segment" data-tab="users">
        <div class="ui large fluid search">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search User">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
      </div>
      <div class="ui bottom attached tab segment" data-tab="groups">
        <div class="ui large fluid search">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search Group">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
      </div>
    </div>
  </div>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="dist/semantic.min.js"></script>
    <script src="search.js"></script>
  </body>
</html>
