<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up Page</title>
    <link rel="stylesheet" type="text/css" href="dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/sign_up.css">
  </head>
  <body>

    <div class="ui grid tablet computer only">
      <nav class="ui grid fixed inverted menu tablet computer only">
        <div class="ui container">
          <a href="" class="header item ">
            <img src="img/small_logo.png" alt="logo" class="logo" style="width:50px; height:50px;">
          </a>

        </div>
      </nav>
    </div>

    <!-- Use centered grid box to center our box of input form.-->
    <div class="ui centered grid">
      <div class="row">
        <div class="ui column" id="header">
          <h2 class="ui image header">
            <img src="img/small_logo.png" class="image">
            <div class="content">
              Start to find your teammate
            </div>
          </h2>
        </div>
      </div>
      <!-- box for form -->
      <div class="row">
        <div class="column" id="form">
          <form class="ui big form segment">
            <h2 class="ui dividing header">Mandatory Information</h2>
            <div class="required field">
              <label>Email Address</label>
              <div class="field">
                <input type="text" name="email-address" placeholder="Enter Your Register Email Address">
              </div>
            </div>
            <div class="required field">
              <label>Password</label>
              <div class="two fields">
                <div class="field">
                  <input type="text" name="password" placeholder="Enter Your Password">
                </div>
                <div class="field">
                  <input type="text" name="confirm-password" placeholder="Re-enter Your Password to confirm">
                </div>
              </div>
            </div>
            <div class="required field">
              <label>Username</label>
              <div class="field">
                <input type="text" name="username" placeholder="Please Enter Your Username">
              </div>
            </div>
            <h2 class="ui dividing header">Optional Information</h2>
            <div class="optional field">
              <label>Name</label>
              <div class="two fields">
                <div class="field">
                  <input type="text" name="first-name" placeholder="First Name">
                </div>
                <div class="field">
                  <input type="text" name="last-name" placeholder="Last Name">
                </div>
              </div>
            </div>
            <div class="optional field">
              <label>Birthday</label>
              <div class="optional field">
                <input type="text" name="birthday" placeholder="yyyy-mm-dd">
              </div>
            </div>
            <div class="optional field">
              <label>Gender</label>
              <div class="ui selection dropdown">
                <input type="hideen" name="gender">
                <i class="dropdown icon"></i>
                <div class="default text">Gender</div>
                <div class="menu">
                  <div class="item" data-value="1"><i class="man icon large"></i>Male</div>
                  <div class="item" data-value="0"><i class="woman icon large"></i>Female</div>
                  <div class="item" data-value="0.5"><i class="other gender icon large"></i>Other</div>
                </div>
              </div>
            </div>
            <div class="optional field">
              <h3>Your Skills</h3>
              <div class="field">
                <textarea name="goal" rows="8" cols="80"></textarea>
              </div>
            </div>
              <h2 class="ui dividing header"></h2>
              <div class="ui centered grid">
                <div class="fourteen wide column center aligned">
                  <button class="ui blue button" type="submit">Sign Up</button>
                  <div class="ui column error message"></div>
                  <div class="ui column hidden success message">
                    <div class="header">Form Completed</div>
                    <p>You're all signed up for the newsletter.</p>
                  </div>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="dist/semantic.min.js"></script>
    <script src="sign_up.js"></script>
  </body>
</html>
