.dashContainer {
  width: 80%;
  min-width: 800px;
  margin: auto;
}

#sideContainer {
  padding: 0;
  height: 90vh;
  float: left;
  width: 15vw;
  min-width: 200px;
}

#contentContainer {
  border-radius: 10px;
  height: 90vh;
  overflow-y: auto;
  background-color: #bebebe;
  float: right;
  width: 55vw;
  min-width: 500px;
  box-shadow: 5px 10px 5px #02447a;
}