.dashContainer {
  width: 80%;
  margin: auto;
}

#sideContainer {
  padding: 0;
  height: 90vh;
}

#contentContainer {
  border-radius: 10px;
  height: 90vh;
  overflow-y: auto;
  background-color: #bebebe;
}