.dashContainer {
  width: 80%;
  margin: auto;
}

#sideContainer {
  padding: 0;
  height: 100vh;
}

#contentContainer {
  border-radius: 10px;
  height: 600px;
  overflow-y: auto;
  background-color: #bebebe;
}