*{
    font-size: 1vw;
    font-family: 'Quicksand', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main {
	margin: 0 auto;
	padding-top: 1%;
}

.navbar {
	width: 90%;
	margin: 0 auto;
    background-color: white;
    border-bottom: .1vw solid #E3E1E0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float:right;
    margin-right: 3vw;
    font-size: 1.3vw;
}

.navbar li a {
    display: block;
    padding: .75vw 2vw .75vw 2vw;
    text-decoration: none;
    color: black;
}

.navbar li a:hover {
    background-color: #E3E1E0;
}


#navbar_logo{
    float:left;
}

#navbar_logo a {
	font-weight: bold;
	font-size: 1.3vw;
}

#navbar_logo a:hover {
	background-color: #E3E1E0;
}

.sidebar {
	float: left;
	width: 18%;
	background-color: #f3f3f3;
	height: 100vh;
}

.searchForm form, h1, h2 {
	float: left;
}

.searchForm form {
	padding-left: 2%;
	padding-top: 4%;
	width: 50%;
}

.searchForm input, textarea {
	border-radius: 4px;
	border: 1px solid #ccc;
	background-color: #fafafa;
	outline: 0 !important;
	min-height: 36px;
	padding: 8px 10px;
	-webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -webkit-transition: all 100ms;
	display: flex;
	width: 96%;
	color: #666;
}

.searchForm label {
	display: block;
	clear: both;
	margin-bottom: 10px;
}

.searchForm button {
	float: center;
	margin-top: 10px;
}

/* using this to make our inputs/textareas look like react-select forms until I
 * can figure out how to edit their CSS */

.fakeSelect input:focus, textarea:focus {
	border-width: 1px;
	border-color: #2684ff;
	box-shadow: 0 0 0 1px #2684ff;
}
