#btn-dash {
	width: 70%;
	margin: 5% 0 10% 15%;
}

.button {
	width: 100%;
	text-align: center;
}

/* styling for sidebar options */
.ui.segment.sideOption {
	padding: 0.5em 0.5em;
	width: 80%;
	margin: auto;
	margin-top: 5%;
}

.sideLink {
	color: #FFFFFF;
}

.sideLink:hover {
	color: #02447a;
}

#icon-notif {
	float: right;
}

#category {
	width: 100%;
	border: 0;
	box-shadow: none;
}

#sidebar, #category-wrapper, #category {
	background-color: #02447a;
	border-radius: inherit;
}

#sidebar {
	height: inherit;
}