@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.row {
  height: 81vh;
  background-color:#e9ecef;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 40%;
}

.right {
  margin-top: 20px;
  text-align: center;
  width: 60%;
}

.title {
  text-align: center;
  font-size : 50px;
  font-family: 'Quicksand', sans-serif;
}

.sub-text {
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
}

.logo {
  display: block;
  height : 90%;
  width : 90%;
  padding-top : 50px;
  float : right;
}

.text {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
}

.subheader {
  margin-bottom : 0px;
}

.button {
  margin-top : 20px;
}

